<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="cn.pumpkinor.dao.StudentsMapper">
        <!--将entity中的property元素映射为数据库中的column元素-->
        <resultMap id="studentMap" type="Student">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="gender" column="gender"></result>
            <result property="age" column="age"></result>
        </resultMap>

        <select id="list" resultMap="studentMap">
           SELECT * FROM students;
        </select>

        <insert id="addStudent" parameterType="Student">
            INSERT INTO students VALUE (NULL,#{name},#{gender},#{age});
        </insert>

        <select id="getStudent" parameterType="int" resultType="Student">
            SELECT * FROM students WHERE id = #{id};
        </select>

        <update id="updateStudent" parameterType="Student">
            UPDATE students SET name = #{name},gender = #{gender},age = #{age} WHERE id = #{id};
        </update>

        <delete id="deleteStudent" parameterType="int">
            DELETE FROM students WHERE id = #{id};
        </delete>

        <select id="findStudentByNameAndGenderUseIf" parameterType="String" resultMap="studentMap">
            SELECT * FROM students
            WHERE 1 = 1
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test = "gender != null and gender != ''">
                AND gender = #{gender}
            </if>;
        </select>

        <select id="findStudentByNameAndGenderUseChoose" parameterType="String" resultMap="studentMap">
            SELECT * FROM students
            WHERE 1 = 1
            <choose>
                <when test="name != null and name != ''">
                    AND name = #{name}
                </when>
                <when test="gender != null and gender != ''">
                    AND gender = #{gender}
                </when>
                <otherwise>
                    ORDER BY id DESC
                </otherwise>
            </choose>
        </select>

    </mapper>